* {
    font-family: "Montserrat", source-han-sans-traditional, sans-serif, "Microsoft JhengHei";
    font-style: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /* 解決手機端頁面的鼠標點擊出現藍色背景 */
    /* border: 1px solid rgb(255, 255, 255); */
}

html {
    background-color: #D4CBC7;
    margin: 0;
}

body {
    background-color: #D4CBC7;
    margin: 0;
    text-align: center;
}


img {
    width: 100%;
    height: auto;
    pointer-events: none;
}

a {
    color: inherit;
}

*::selection {
    color: #D4CBC7;
    background:#1c1c1c;
  }
  

h1 {
    font-size: 36pt;
    text-align: center;
    font-weight: 600;
    color: #1F1F1F;
    margin:40px auto 5px auto;
}

.junior_container {
    width: 280px;
    margin: auto;
    position: relative;
}

.junior{
    width: 280px;
   z-index: 1;
}
.outfit{
    width: 280px;
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 2;
}

button {
    width: 200px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
    border-radius: 30px;
    color: #D4CBC7;
    background-color: #1F1F1F;
    outline: none;
    padding: 10px;  
    text-align: center; 
}

button:active {
    background-color: #686868;
  }

footer div{
    margin: 50px;
    font-size: 10px;
    color:#686868;
    text-align: center;
}